<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">

        <title>{% block head_title %}Trendoid{% endblock head_title %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">

        {% block stylesheets %}
            <link rel="stylesheet" href="/static/css/main.css?{{ STATIC_VERSION }}">
        {% endblock stylesheets %}
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body class="{% block body_classes %}{% endblock %}">
        <div id="container">
            <header>
                {% block header %}
                    <h1>{% block page_title %}{% endblock page_title %}</h1>
                    <nav id="main-nav">
                        {% block nav %}
                        <ul>
                            {% if login_url %}
                                <li><a href="{{ login_url }}">Login</a></li>
                            {% endif %}
                            {% if logout_url %}
                                <li><a href="{{ logout_url }}">Logout</a></li>
                            {% endif %}
                            {% block extra_nav %}{% endblock %}
                        </ul>
                        {% endblock nav %}
                    </nav>
                {% endblock header %}
            </header>

            <div id="main">
                {% block main %}{% endblock main %}
            </div>

            <footer>
                {% block footer %}{% endblock footer %}
            </footer>
        </div>

        {% block scripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
            <script src="/static/js/main.js?{{ STATIC_VERSION }}"></script>
        {% endblock scripts %}
        {% block extra_body %}{% endblock extra_body %}
    </body>
</html>